---
layout: default
---

<div class="home">

  <div class="header">
    <div class="bio-container">
      <img class="img-bio" src="/img/zach-starkebaum.jpg" alt="A really swell picture of Zach">
      <div class="bio-content">
        <h2 class="home-heading">Hi, I'm Zach</h2>
        <h3 class="home-heading">I work hard to make great software.</h3>
        Focused on Mobile Development, especially
        with iOS and Cross Platform C#/Mono. Experience with Full Stack Web Development in Node.js, PHP and HTML5/CSS.
      </div>
    </div>
  </div>
  <div class="content">
    <h2 class="home-heading">Portfolio</h2>

    {% for project in site.portfolio_items %}
      <div class="project-headPhotos">
        {% for photo in project.photos %}
          <div class="project-headPhoto" style="background-image: url('{{ photo.url }}');">

          </div>
        {% endfor %}
        <div class="photo-heading">
          <h2>{{ project.title }}</h2>
          {{ project.technologies }}<br>
          {{ project.role }}
        </div>
      </div>

      <div class="project-content">{{ project.content }}</div>
    {% endfor %}
  </div>
</div>
