---
layout: default
---

<div class="home">

  <div class="header">
    <div class="bio-container">
      <img class="img-bio" src="/img/zach-starkebaum.jpg" alt="A really swell picture of Zach">
      <div class="bio-content">
        <h2 class="home-heading">Hi, I'm Zach</h2>
        <h3 class="home-heading">I work hard to make great software.</h3>
        Focused on Mobile Development, especially
        with iOS and Cross Platform C#/Mono. Experience with Full Stack Web Development in Node.js, PHP and HTML5/CSS.
      </div>
    </div>
  </div>
  <div class="content">
    <h2 class="home-heading">Portfolio</h2>
    {% for project in site.portfolio_items %}
      {% include project.html project=project %}
    {% endfor %}

    <h2 class="home-heading">Side Projects</h2>
    {% for project in site.side_projects %}
      {% include project.html project=project %}
    {% endfor %}
  </div>
</div>
